a {
  color: #00B7FF;
}

.title {
  font-size: 120px;
  text-align: center;
  line-height: 90px;
  font-weight: 100;
}


/* Drink Controls */
#drinks {
  text-align: center;
}

#drinkScope {
  margin-left: 280px;
  padding: 0px 30px;
}

.drinkContainer {
  display: inline-block;
  height: 280px;
  width: 30%;
  margin: 15px;
  background-color: #EEEEEE;
  background-position: center;
  background-size: cover;
}

.drinkName {
  float: left;
  width: 100%;
  bottom: 0px;
  color: #FFFFFF;
  background-color: rgba(0,0,0,0.2);
  padding: 10px;
}

.hiddenIngredientFloat {
  display: none;
  position: absolute;
  z-index: 1;
  padding-right: 20px;
  padding-top: 10px;
  background-color: rgba(0,0,0,0.2);
}

.ingredientText {
  font-size: 0.5em;
  list-style-type: none;
  margin-left: -20px;
  color: #EEEEEE;
}

.left-align {
  display: inline-block;
  text-align: left !important;
}


/* Sidebar */
#launcher {
  display: inline-block;
  position: fixed;
  width: 280px;
  text-align: left;
  height: 100%;
  background-color: #e74c3c;
  padding: 10px;
  z-index: 1;
  color: #FFFFFF;
  text-shadow: 3px 3px 6px #000000;
}

#selectedDrink {
  height: 260px;
  width: 260px;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
  text-align: center;
  background-color: #c0392b;
}

#selectedSize {
  height: 130px;
  width: 260px;
  margin-bottom: 20px;
  text-align: center;
}

.drinkSize {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0px 2px;
  font-size: 20px;
  line-height: 80px;
  vertical-align: middle;
  background-color: #c0392b;
}

.disabled {
  color: #CCCCCC !important;
}

.noselection {
  background-color: #888888 !important;
}

.selected {
  background-color: #FFCCCC !important;
}

#make {
  display: inline-block;
  background-color: #c0392b;
  padding: 10px;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

#makeProgress {
  display: inline-block;
  width: 300px;
  height: 100px;
  margin-left: -10px;
  margin-top: -10px;
  background-color: #888888;
}

#makeText {
  display: inline-block;
  margin-left: -20px;
  width: 100%;
  position: absolute;
  z-index: 3;
  text-align: center;
  font-size: 80px;
  color: #FFFFFF;
}


/* Pump Controls */
#pumps {
  text-align: center;
}

.pumpContainer {
  display: inline-block;
  margin: 4px;
  width: 17%;
  height: 50px;
}

.mixers {
  background-color: #FFDDDD;
  width: 100%;
  height: 42px;
  margin-left: 7px;
  font: 20px "Myriad Set", Helvetica, Arial, sans-serif;
  padding-left: 20px;
  border: 2px solid #e74c3c;
  border-radius: 0;
  -webkit-appearance: none;
}

#pumpControlToggle {
  width: 90px;
}

.floatingPumpButtons {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 0px;
}

#hiddenPumpControls {
  display: inline-block;
  position: absolute;
  width: 500px;
  text-align: right;
  height: 50px;
  top: 50px;
  right: 0px;
}

#allPumps {
  font-size: 15px;
}

.active {
  color: #FF0000 !important;
  background-color: #FFCCCC !important;
}

.pumpButton {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  font: 25px "Menlo";
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background-color: #FFEEEE;
}

.singlePump {
  font-size: 15px !important;
}

/* Add */

.addForm {
  width: 180px;
}

/* Edit */

.editRow {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FFEEEE;
}

